@model Website.Models.Actor
<link href="~/Content/styling.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Delete";
}

<h2>Delete - @Model.ActorName</h2>

<h3>Are you sure you want to delete this actor?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlaceOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaceOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActorIMDBPage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActorIMDBPage)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "GetAllActors")
        </div>
    }
</div>
